.contenedor{
    margin: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(3,1fr);
  }
 
 
  @media screen and (max-width: 768px) {
    .contenedor{
       grid-template-columns:repeat(1,1fr);
    }
 }