.nav-hover:hover{
    color: black;
    transform: translateY(-3px);
    cursor: pointer;
    transition: all 1s;
     }

 .nav-text{
    color:$ColorFont;
    font-family: $mainFont;
     }

 .nav-position{
    position: sticky;
    top: 0px;   
    left: 0px;
     }