//Colores
$mainColor: rgb(232, 107, 0);
$secundaryColor:rgba(232, 107, 0, .8);
$ColorFont: white;

//fonts
$mainFont: 'Open Sans', sans-serif;
$secondaryFont:  'Roboto', sans-serif;

//sizefonts

$FontTitulos: 2rem;
$FontSubTitulos: 1.5rem;
$FontNav: 1rem; 