//Colores
$mainColor: rgb(232, 107, 0);
$secundaryColor:rgba(232, 107, 0, .8);


//fonts
$mainFont: 'Open Sans', sans-serif;
$secondaryFont:  'Roboto', sans-serif;

//sizefonts

$FontTitulos: 2rem

$FontNav: 0.5rem